@charset "UTF-8";

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-logo-img {
  width: 200px;
}

.header-nav-item {
  display: inline;
}

.first-view {
  text-align: center;
  height: 500px;
  background-color: beige;
}

.benefits {
  text-align: center;
  height: 500px;
  background-color: azure;
}

.faq-question {
  text-align: center;
  height: 500px;
  background-color: bisque;
}

footer {
  text-align: center;
  height: 50px;
  background-color: blanchedalmond;
}
