@charset "UTF-8";

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-logo-img {
  width: 200px;
}

.header-nav-item {
  display: inline;
}

.first-view {
  text-align: center;
  height: 500px;
  background-color: beige;
}

.benefits {
  text-align: center;
  height: 500px;
  background-color: azure;
}

.faq-question {
  text-align: center;
  height: 500px;
  background-color: bisque;
}

/* footer */

.footer {
  background-color: antiquewhite;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 768px;
  margin: 0 auto;
}

.company-ttl {
  font-size: 16px;
  font-weight: bold;
}

.footer-invite {
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.footer-invite-txt {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.tableA {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
}

.tableA th, .tableA td {
  border: 1px solid #000;
}

.tableA th {
  font-weight: bold;
}

.copyright {
  text-align: center;
  border-top: 1px solid #e6e6fa;
}

/*セクション３CSS*/
#section3{
  display: flex;
    flex-direction: column;
    gap: 20px; /* ここで各divの間の空白を設定 */
  }
.effect{
  position: relative;
  left: 50px;
}
.title{
  width: 130px;
  background-color: lightskyblue;
}
#diet{
  border: solid;
  border-radius: 8px;
}
#balancing-both{
  border: solid;
  border-radius: 8px;
}
#girl{
  border: solid;
  border-radius: 8px;


.selections {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 8px 25px;
  
  margin: auto;
}

.selection-item {
  /* border: 2px solid blue; */
  /* padding: 15px; */
  border: 2px solid blue; /* 枠線の太さと色 */
  width: 150px; /* 要素の幅を指定 */
  height: 50px; /* 要素の高さを指定 */
  display: flex; /* フレックスボックスを使用して中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-around; /* 水平方向の中央揃え */
  box-sizing: border-box; /* パディングと枠線を含めたボックスサイズを計算 */
  margin: 0 auto; /* 要素を中央に配置 */
  text-align: center; /* テキストを中央揃え */

}